html, body {
    height: 100%;
  }
  
body{
    margin:0;
    padding:0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.disable-container{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 50%;
    background-color: #000;
}

.class-wrap{
    max-width: 300px;
    max-height: 500px;
    background-color: lightblue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: 3px solid green ;
    border-radius: 5%;
    position: relative;
    z-index: 9999;
    overflow: auto;
    
}

.class-wrap::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

.class-wrap::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 25px;
}

.class-wrap::-webkit-scrollbar-thumb:hover {
    background-color: #39484f;
}

.title{
    font-size: 20px;
    color: green;
}

.selectClass{
    height: 100%;
    width: 100%;
    text-align: center;
}

.selectClass li{
    list-style-type: none;
    height: 30px;
    font-size: 20px;
    border-style:inset;
    border-radius: 20px;
    border-color: black;
    margin-right: 30px;
    margin-top: 2px;
    padding-left: 50px;
    padding-top: 3px;
    padding-right: 50px;
    position: relative;
    cursor: pointer;
}

.selectClass li:hover{
    background-color: lightgreen;
}

.selectClass li i{
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 25px;
}

.selectClass li i:hover{
    color: red;
    cursor: pointer;
}

.add-class{
    z-index: 9998;
    list-style-type: none;
    height: 30px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 14px;
    margin-top: 2px;
    padding-left: 50px;
    padding-top: 3px;
    padding-right: 50px;
}

.add-class:hover{
    cursor: pointer;
    background-color: lightgreen;
    transition: 0.2sm all;
}

.add-class:active{
    background-color: red;
    color: white;
}